# dependencies
/node_modules
/.pnp
.pnp.js

# expo
.expo
.expo-shared

# misc
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# macOS
.DS_Store

# android
/android/app/build
/android/.gradle
/android/.idea
/android/local.properties

# ios
/ios/build
/ios/Pods
